id ICON "res/tysm.ico"   //添加图标

#include <winver.h>

VS_VERSION_INFO VERSIONINFO
    FILEVERSION 0,0,1,10
    PRODUCTVERSION 0,0,1,10
    FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif
    FILEOS VOS__WINDOWS32
    FILETYPE VFT_DLL
    FILESUBTYPE 0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "080404b0"  //支持中文
            BEGIN
                VALUE "CompanyName", "Catfootbeats\0"
                VALUE "FileDescription", "Tysm\0"
                VALUE "FileVersion", "0.0.1\0"
                VALUE "ProductVersion", "0.0.1\0"
                VALUE "LegalCopyright", "Copyright 2024 Catfootbeats\0"
                VALUE "OriginalFilename", "tysm.exe\0"
                VALUE "ProductName", "Tysm\0"
                VALUE "InternalName", "version.exe\0"
           END
        END
        
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x804, 1200  //语言-简体中文
        END        
    END
